/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(185, 185, 253);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    padding: 28px;



}

.imagenfoto {
    height: 400px;
    background-position: top;
    background-size: cover;
    background-image: url(portada.jpeg);
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(253, 173, 173);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main {
    width: 100%;
}

ul li {
    display: inline-block;
    margin: 0 20px;

}

a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.4s linear;
    -o-transition: border-bottom 0.4s linear;
    transition: border-bottom 0.4s linear;

}





a:hover {

    color: aliceblue;
    border-bottom: 1px solid aliceblue;


}


li {
    padding: 15px;
}


.contenedorflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
}

p {
    width: 80%;
    letter-spacing: 2px;
    line-height: 25px;


}




h3 {
    font-size: 30px;
    margin: 40px 0;
}

.texto1 {
    margin: 0 60px;
}

.imagenmain2,
.fotomain {
    margin: 20px;
    height: 700px;
}


footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    background-color: rgb(139, 139, 253);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

h4 {
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 40px;
}

.redes a {
    margin: 0 50px;
    color: rgb(99, 93, 82);

}

i {
    font-size: 25px;
    margin: 0 5px;
    color: #000;



}



.contenedorflex2 {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;
}

.cursos:hover {
    background-color: rgb(253, 173, 173);
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.cursos {
    cursor: pointer;
    width: 80%;
    height: 100px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3em;
    margin: 40px;

    text-align: center;
    font-size: 12px;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cursos p {
    margin: 0 auto;
}


.imgcursos {

    width: 25%;
    display: inline-block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin: 0 auto;
}

.cajacursos {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

    justify-self: flex-end;
}

@media screen and (max-width: 500px) {
    html{
        width: auto;
        height: auto;
    }

    body,
    header,
    main,
    footer {
        width: 390px;
        height: auto;
    }

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .texto1 {
        width: 100%;
        margin: 20px;
    }

    .contenedorflex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .imagenmain2 {
        width: 390px;
        -ms-flex-item-align: flex-end;
        -ms-grid-row-align: flex-end;
        align-self: flex-end;

    }

    footer {
        width: 390px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    
    .redes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
        width: 390px;
        
    }
    
    .redes a {
        width: 30px;
        margin: 20px;
        margin: 0 auto;

    }

    .fotomain {
        width: 100%;

    }

    .contenedorflex2 {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;

        -ms-flex-pack: justify;

        justify-content: space-between;
    }

    .imgcursos {
        width: 100%;
    }

    h4 {
        padding: 20px;
        text-align: center;

    }

    .cajacursos {
        width: 100%;
    }

    .cursos {
        width: 100%;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
}